@charset "utf-8";
/* CSS Document */

:root {
    --tinypress-color-primary: #617822;
    --tinypress-color-primary-dim: #f3ffd2;
    --tinypress-color-red: #f44336;
    --tinypress-color-green: #009688;

    --wpdk_settings-primary-color: var(--tinypress-color-primary);
    --wpdk_settings-primary-color-dim: var(--tinypress-color-primary-dim);
    --wpdk_settings-red-color: var(--tinypress-color-red);
}

body.post-type-tinypress_link .wpdk_settings-metabox {
    margin-top: -20px;
}

body.post-type-tinypress_link #submitdiv {
    border: none;
    background: transparent;
    box-shadow: none;
}

body.post-type-tinypress_link #poststuff .inside {
    margin: 0;
}

body.post-type-tinypress_link #submitdiv .postbox-header,
body.post-type-tinypress_link #submitdiv #minor-publishing,
body.post-type-tinypress_link #submitdiv #major-publishing-actions .clear,
body.post-type-tinypress_link #tinypress_link_catdiv .postbox-header,
body.post-type-tinypress_link #tagsdiv-tinypress_link_tags .postbox-header,
body.post-type-tinypress_link #tinypress-meta-side .postbox-header {
    display: none !important;
}

body.post-type-tinypress_link #submitdiv #major-publishing-actions,
body.post-type-tinypress_link #tinypress_link_catdiv,
body.post-type-tinypress_link #tagsdiv-tinypress_link_tags,
body.post-type-tinypress_link #tinypress-meta-side {
    border: none;
    background: transparent;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
}

body.post-type-tinypress_link #tinypress_link_catdiv .inside,
body.post-type-tinypress_link #tagsdiv-tinypress_link_tags .inside,
body.post-type-tinypress_link #tinypress-meta-side .inside {
    padding: 0;
    width: 100%;
    display: inline-block;
}

body.post-type-tinypress_link #submitdiv #major-publishing-actions #publish,
body.post-type-tinypress_link #submitdiv #major-publishing-actions #publish:active,
body.post-type-tinypress_link #submitdiv #major-publishing-actions #publish:focus {
    background: var(--wpdk_settings-primary-color);
    color: #fff;
    border: none;
    font-size: 16px;
    line-height: 26px;
    padding: 14px 30px;
    border-radius: 0;
}

body.post-type-tinypress_link #submitdiv #major-publishing-actions .submitdelete,
body.post-type-tinypress_link #submitdiv #major-publishing-actions .submitdelete:active,
body.post-type-tinypress_link #submitdiv #major-publishing-actions .submitdelete:focus {
    background: var(--wpdk_settings-red-color);
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 12px;
    line-height: 22px;
}

body.post-type-tinypress_link #tinypress_link_catdiv {

}

body.post-type-tinypress_link #tinypress_link_catdiv .taxonomy-add-new,
body.post-type-tinypress_link #tinypress_link_catdiv .taxonomy-add-new:active,
body.post-type-tinypress_link #tinypress_link_catdiv .taxonomy-add-new:hover {
    text-decoration: none;
    font-weight: 500;
    outline: none;
    box-shadow: none;
}

body.post-type-tinypress_link #tinypress_link_catdiv .category-tabs {
    margin-bottom: 8px;
}

body.post-type-tinypress_link #tinypress_link_catdiv .category-tabs > li {
    padding: 10px;
}

body.post-type-tinypress_link #tinypress_link_catdiv .category-tabs > li > a,
body.post-type-tinypress_link #tinypress_link_catdiv .category-tabs > li > a:hover,
body.post-type-tinypress_link #tinypress_link_catdiv .category-tabs > li > a:active {
    padding: 0;
    outline: none;
    box-shadow: none;
}

body.post-type-tinypress_link #tinypress_link_catdiv #newtinypress_link_cat {
    padding: 10px 8px;
    border: 1px solid #eee;
    transition: 0.3s;
}

body.post-type-tinypress_link #tinypress_link_catdiv #newtinypress_link_cat:active,
body.post-type-tinypress_link #tinypress_link_catdiv #newtinypress_link_cat:focus {
    border-color: var(--tinypress-color-primary);
    box-shadow: none;
    outline: none;
}


/**
 * Meta Side
 */

.tinypress-meta-side {

}

.tinypress-meta-side .side-qr-code {
}

.tinypress-meta-side .side-qr-code .qr-download,
.tinypress-meta-side .side-qr-code .qr-download:focus,
.tinypress-meta-side .side-qr-code .qr-download:active {
    display: inline-block;
    background: var(--tinypress-color-green);
    padding: 12px 18px;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
    text-decoration: none;
    box-shadow: none;
    outline: none;
}

body.post-type-tinypress_link .wpdk_settings-field-text input,
body.post-type-tinypress_link .wpdk_settings-field-textarea textarea {
    padding: 10px 8px;
    border: 1px solid #eee;
    transition: 0.3s;
}

body.post-type-tinypress_link .wpdk_settings-field-text input:focus,
body.post-type-tinypress_link .wpdk_settings-field-text input:focus:active,
body.post-type-tinypress_link .wpdk_settings-field-textarea textarea:focus,
body.post-type-tinypress_link .wpdk_settings-field-textarea textarea:focus:active {
    border-color: var(--wpdk_settings-primary-color);
    box-shadow: none;
    outline: none;
}

/**
 * Popup Box
 */
.tinypress-popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 40%);
    z-index: 99999;
    display: none;
}

.tinypress-popup-container .tinypress-popup-box {
    width: 320px;
    min-height: 280px;
    background: #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 30px 2px rgb(0 0 0 / 17%);
    border-radius: 10px;
}

.tinypress-popup-container .tinypress-popup-box .box-content {
    padding: 20px;
    text-align: center;
}


table.tinypress_link_page_tinypress-reports th#title {
    width: 15%;
}

table.tinypress_link_page_tinypress-reports th#short_link {
    width: 15%;
}

table.tinypress_link_page_tinypress-reports th#details {
    width: 65%;
}

.tiny-slug-wrap {
    width: 100%;
    display: inline-block;
    max-width: 280px;
}

.tiny-slug-wrap .tiny-slug-preview {
    border: none;
    padding: 16px;
    background-color: #393e46;
    color: #ffd350;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    font-size: 16px;
    overflow-wrap: anywhere;
}

.tiny-slug-wrap.mini .tiny-slug-preview {
    padding: 3px 8px;
    font-size: 14px;
    line-height: 24px;
    width: auto;
}

.tiny-slug-wrap .tiny-slug-preview.preview-mini {
    width: auto;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 24px;
}

.tiny-slug-wrap .tiny-slug-preview > span {
    float: left;
}

.tiny-slug-wrap .tinypress-slug-field {
    margin-top: 10px;
    width: 100%;
}

.tiny-slug-wrap .tinypress-slug-field input[type=text],
.tiny-slug-wrap .tinypress-slug-field textarea {
    padding: 10px 8px;
    border: 1px solid #eee;
    transition: 0.3s;
    width: 100px;
}

.tiny-slug-wrap .tinypress-slug-field input[type=text]:focus,
.tiny-slug-wrap .tinypress-slug-field input[type=text]:focus:active,
.tiny-slug-wrap .tinypress-slug-field textarea:focus,
.tiny-slug-wrap .tinypress-slug-field textarea:focus:active {
    border-color: var(--tinypress-color-primary);
    box-shadow: none;
    outline: none;
}

.link-actions a.action {
    display: inline-block;
    background: var(--tinypress-color-green);
    color: #fff;
    padding: 3px 8px;
    margin-right: 5px;
    border-radius: 3px;
}

.link-actions a.action.action-delete {
    background: var(--tinypress-color-red);
}

.wpdk_settings-section #chart {
    padding: 20px;
}

.wpdk_settings-section #chart .toolbar {
    text-align: right;
}

.wpdk_settings-section #chart .filter-buttons {
    display: inline-block;
    border: 1px solid #627823;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
}

.wpdk_settings-section #chart .filter-buttons .date-filter {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
    border-right: 1px solid;
    float: left;
}

.wpdk_settings-section #chart .filter-buttons .date-filter.active {
    color: #fff;
    background: #627823;
}

.wpdk_settings-section #chart .filter-buttons .date-filter:last-child {
    border-right: none;
}
