@charset "utf-8";
/* CSS Document */

:root {
    --tinypress-color-primary: #774ea9;
    --tinypress-color-red: #f44336;
    --tinypress-color-green: #009688;

    --wpdk_settings-primary-color: var(--tinypress-color-primary);
    --wpdk_settings-red-color: var(--tinypress-color-red);
}


body.post-type-tinypress_link .wpdk_settings-metabox {
    margin-top: -20px;
}

body.post-type-tinypress_link #submitdiv {
    border: none;
    background: transparent;
    box-shadow: none;
}

body.post-type-tinypress_link #poststuff .inside {
    margin: 0;
}

body.post-type-tinypress_link #submitdiv .postbox-header,
body.post-type-tinypress_link #submitdiv #minor-publishing,
body.post-type-tinypress_link #submitdiv #major-publishing-actions .clear {
    display: none !important;
}

body.post-type-tinypress_link #submitdiv #major-publishing-actions {
    border: none;
    background: transparent;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body.post-type-tinypress_link #submitdiv #major-publishing-actions #publish,
body.post-type-tinypress_link #submitdiv #major-publishing-actions #publish:active,
body.post-type-tinypress_link #submitdiv #major-publishing-actions #publish:focus {
    background: var(--wpdk_settings-primary-color);
    color: #fff;
    border: none;
    font-size: 16px;
    line-height: 26px;
    padding: 14px 30px;
    border-radius: 0;
}

body.post-type-tinypress_link #submitdiv #major-publishing-actions .submitdelete,
body.post-type-tinypress_link #submitdiv #major-publishing-actions .submitdelete:active,
body.post-type-tinypress_link #submitdiv #major-publishing-actions .submitdelete:focus {
    background: var(--wpdk_settings-red-color);
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 12px;
    line-height: 22px;
}


body.post-type-tinypress_link .wpdk_settings-field-text input,
body.post-type-tinypress_link .wpdk_settings-field-textarea textarea {
    padding: 10px 8px;
    border: 1px solid #eee;
    transition: 0.3s;
}

body.post-type-tinypress_link .wpdk_settings-field-text input:focus,
body.post-type-tinypress_link .wpdk_settings-field-text input:focus:active,
body.post-type-tinypress_link .wpdk_settings-field-textarea textarea:focus,
body.post-type-tinypress_link .wpdk_settings-field-textarea textarea:focus:active {
    border-color: var(--wpdk_settings-primary-color);
    box-shadow: none;
    outline: none;
}


table.tinypress_link_page_tinypress-reports th#title {
    width: 15%;
}

table.tinypress_link_page_tinypress-reports th#short_link {
    width: 15%;
}

table.tinypress_link_page_tinypress-reports th#details {
    width: 65%;
}

.tiny-slug-wrap {
    width: 100%;
    display: inline-block;
    max-width: 280px;
}

.tiny-slug-wrap .tiny-slug-preview {
    border: none;
    padding: 16px;
    background-color: #393e46;
    color: #ffd350;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    font-size: 16px;
    overflow-wrap: anywhere;
}

.tiny-slug-wrap.mini .tiny-slug-preview {
    padding: 3px 8px;
    font-size: 14px;
    line-height: 24px;
    width: auto;
}

.tiny-slug-wrap .tiny-slug-preview.preview-mini {
    width: auto;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 24px;
}

.tiny-slug-wrap .tiny-slug-preview > span {
    float: left;
}

.tiny-slug-wrap .tinypress-slug-field {
    margin-top: 10px;
    width: 100%;
}

.tiny-slug-wrap .tinypress-slug-field input[type=text],
.tiny-slug-wrap .tinypress-slug-field textarea {
    padding: 10px 8px;
    border: 1px solid #eee;
    transition: 0.3s;
    width: 100px;
}

.tiny-slug-wrap .tinypress-slug-field input[type=text]:focus,
.tiny-slug-wrap .tinypress-slug-field input[type=text]:focus:active,
.tiny-slug-wrap .tinypress-slug-field textarea:focus,
.tiny-slug-wrap .tinypress-slug-field textarea:focus:active {
    border-color: var(--wpdk_settings-primary-color);
    box-shadow: none;
    outline: none;
}


.link-actions a.action {
    display: inline-block;
    background: var(--tinypress-color-green);
    color: #fff;
    padding: 3px 8px;
    margin-right: 5px;
    border-radius: 3px;
}

.link-actions a.action.action-delete {
    background: var(--tinypress-color-red);
}